# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Entorno virtual
venv/
env/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Archivos temporales
.DS_Store
Thumbs.db
*.tmp

# Logs
logs/
*.log

# Tests
.pytest_cache/
.coverage
htmlcov/
tests/resources/*
*.pytest_cache
report.html
assets/

# Archivos generados
storage/
.env
.env.local

# Base de datos
*.sqlite3