# Python
__pycache__/
*.py[cod]
*$py.class

# Entorno virtual
venv/
env/

# IDEs
.idea/
.vscode/

# Logs y reportes
logs/
*.log
htmlcov/
.coverage

# Archivos temporales
.DS_Store
Thumbs.db
*.tmp

# Archivos de prueba
tests/resources/*.pdf
tests/resources/*.docx
tests/resources/*.xlsx

# Configuración local
.env
.env.local